/* navbar section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #e8e8e8;
    width: 100%;
}

.menu {
    width: 100%;
    height: 75px;
    background: goldenrod;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.35);
    border-radius: 2mm;
    position: relative;
}

.menu img {
    width: 40px;
    filter: brightness(100%);
    border-color: #ee0979;
    opacity: 0.8;
    color: #ee0979;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head {
    text-decoration: none;
    font-family: poppins;
    font-size: 15px;
    color: black;
    margin: 0 16px;
}

.head:hover {
    border-bottom: 0.6mm solid  #ee0979;
}

.right button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: none;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right button:hover {
    background: rgb(233, 243, 255);
    color: gold;
}

.sub-menu {
    position: absolute;
    top: 55px;
    right: 10px;
    width: 200px;
    height: fit-content;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(239, 192, 5);
    border-radius: 2mm;
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.27) 0px 15px 38px, 
                rgba(0, 0, 0, 0.2) 0px 10px 12px;
}

.sub {
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-family: poppins;
    color: #fff;
    font-weight: 500;
    padding: 10px 0;
    display: none;
}
.sub:hover  {
    background: #fff;
    color: rgb(1, 42, 84);
}

@media screen and (max-width: 680px) {
    .head {
        display: none;
    }
    .sub {
        display: block;
    }
    .right button {
        display: flex;
    }
}

/* hero section */

.hero {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5%;
    box-sizing: border-box;
    background: #fff;
}

.hero-left {
    flex-grow: 1;
}

.title {
    font-family: poppins;
    font-size: 50px;
    line-height: 60px;
    margin: 20px 0;
}

.caption {
    font-family: poppins;
    font-size: 16px;
    margin-bottom: 40px;
}

.links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    
}

.links a {
    text-decoration: none;
    font-family: poppins;
    color: black;
    text-align: center;
    border: 0.5mm solid #f8b34a;
    border-radius: 5mm;
    padding: 7px 20px;
    background: #ee0979;
}

.links a:hover {
    background: rgb(229, 208, 17);
    color: #ee0979;
}

.hero-right img {
    width: 600px;
    height: 400px;
    margin-top: 40px;
    border-radius: 8px;
    color: lightblue;
}


/* content section */
header {
    background: #fdfdfd;
    padding: 30px;
}
.h-text {
    text-align: center;
    color: #444;
    padding: 10px;
    font-size: 40px;
}
.span-class {
    color:  #ee0979;
}

.client {
    width: 100%;
    height: 12vh;
    margin: 10 0 ;
    padding: 0;
    background: #fff;
    display: grid;
    place-items: center;
}

.slider {
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.logos {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slide 30s linear infinite;
}

.logos img {
    width: 110px;
    margin: 0 25px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.cards {
    width: 100%;
    box-sizing: border-box;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards img {
    width: 100%;
    height: 100%;
    border-radius: 1mm;
    margin: 5px 5px;
}

@keyframes appear {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.block {
    width: 300px;
    height: 250px;
    border: 0.5mm solid white;
    position: relative;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.content {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #ee0979;
    display: grid;
    place-items: center;
}

.block .text {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background: rgba(0, 0, 0, 0.7);
    font-size: 36px;
    font-weight: 500;
    color: gold;
    font-family: poppins;
    overflow: hidden;
    transition: 0.5s ease-in;
    white-space: nowrap;
}

.block:hover .text {
    height: 100%;
}

/* footer section */


footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 40px;
    background: #d4d4d4;
    border-radius: 50px;
    margin-top: 60px;
}

footer .bucket {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer .bucket .sec h2 {
    position: relative;
    color: #333;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .bucket .sec p {
    color: #555;
}

footer .bucket .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
}

footer .bucket .sci li {
    list-style: none;
}

footer .bucket .sci li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #333;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

footer .bucket .sci li a i {
    color: #fff;
    font-size: 20px;
}

footer .bucket .quicklinks {
    position: relative;
}

footer .bucket .quicklinks ul li {
    list-style: none;
}

footer .bucket .quicklinks ul li a {
    color: #555;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

footer .bucket .contact .info {
    position: relative;
}

footer .bucket .contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .bucket .contact .info li span {
    color: #555;
    font-size: 20px;
}

footer .bucket .contact .info li a {
    color: #555;
    text-decoration: none;
}

.copyright {
    width: 100%;
    background: #fff;
    padding: 20px 100px 30px;
    text-align: center;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.15);
}


@media screen and (max-width: 1000px) {
    .title {
        font-size: 5vw;
    }
    .hero-right img {
        width: 35vw;
    }
    .caption {
        font-size: 1.3vw;
    }
    .links a {
        font-size: 1.4vw;
        padding: 0.5vw 1.65vw;
    }
}

@media (max-width: 991px) {
    footer {
        padding: 40px;
    }

    footer .bucket {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }

    .copyright {
        padding: 20px 40px 30px;
    }
}

@media screen and (max-width: 700px) {
    .title {
        font-size: 45px;
        text-align: center;
    }
    .hero-right img {
        display: none;
    }
    .caption {
        font-size: 14px;
    }
    .links a {
        font-size: 14px;
        padding: 7px 20px;
    }
    .hero-left {
        display: grid;
        place-items: center;
    }
    .links {
        justify-content: center;
    }
    .menu {
        padding: 16px  10px;
    }
    .menu .right a {
        margin: 0 10px;
        font-size: 13px;
    }
    .menu img {
        width: 30px;
    }
    h5 {
        font-size: 30px;
    }
    footer {
        flex-direction: column;
    }
    footer .bucket {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
}

@media screen and (max-width: 450px) {
    .hero-left {
        padding: 25px;
    }
    .links {
        font-size: 10px;
        width: 120px;
        padding: 5px 10px;
    }
    .title {
        font-size: 37px;
    }
    .cards img {
        width: 100%;
        height: 100%;
        border-radius: 0.5mm;
        margin: 1px 1px;
    }
}
