<<<<<<< HEAD
 @import url('https://fonts.googleapis.com/css2?family=lato:wght@100,300,400,700,900&display=swap'); 
 @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #f2f2f2;
    width: 100%;
}

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #ee0979;
}

.heading p {
    font-size: 18px;
    color: #777;
    margin-bottom: 35px;
}

.cup {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img {
    transform: scale(1.2);
}

.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #777;
}

.about-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ee0979;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content .read-more:hover {
    background-color: #ee0979;
}


.holder {
    width: 100%;
    margin: 0;
    padding-top: 4%;
    padding-bottom: 4%;
    background: #fff;
  }

  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  div.box {
    text-align: center;
    margin: 24px;
    padding: 36px 24px 40px 24px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),
        0 2px 3px 0 rgba(0, 0, 0, .1);
  }

  .icon {
    width: 100%;
    text-align: center;
    border-radius: 10px;
  }

  .icon img {
    width: 50px;
  }

  label {
    font-weight: bold;
    color: #f8b34a;
  }

  .nodecor {
    text-decoration: none;
    list-style-type: none;
  }

  /* team */

.team-section {
    width: 100%;
}

.team-section .case {
    width: 80%;
    margin: auto;
}

.team-section .case .ROW {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.TITLE {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #ee0979;
}

.TITLE p {
    font-size: 18px;
    font-family: sans-serif;
    margin: 30px 0px;
    color: #a3a3a3;
}

.team-section .case .team-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

.team-section .case .team-card .CARD {
    width: 100%;
    background-color:  #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
}

.team-section .case .team-card .CARD:hover {
    background-color: #f3f3f3;
    transition: 0.3s;
}

.team-section .case .team-card .CARD .img-section img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 6px solid #fff;
}

.team-section .case .team-card .CARD .CONTENT {
    width: 100%;
    text-align: center;
}

.team-section .case .team-card .CARD .CONTENT h3 {
    font-size: 27px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    color: #639ab8;
}

.team-section .case .team-card .CARD .CONTENT h4 {
    font-size: 17px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    color: #6e6e6e;
}

.team-section .case .team-card .CARD .CONTENT p {
    font-size: 15px;
    margin: 16px 0px;
    line-height: 1.5;
    color: #6c6c6c;
}

.containeer {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
  }

.pop {
    font-size: 18px;
    font-family: sans-serif;
    margin: 30px 0px;
    color: #a3a3a3;
    text-align: center;
}

/* services */

.center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}

.cad {
    width: 350px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    font-family: poppins;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
                   rgba(17, 17, 26, 0.1) 0px 24px 80px;

}   

.top {
    width: 100%;
    height: fit-content;
}

.top img {
    width: 100%;
}

.top .T {
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.bottom {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 0 25px;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.cad:hover  .bottom {
    max-height: 350px;
}

.cad:not(:hover) .top .T {
    margin-top: 25px;
    margin-bottom: 15px;
}

.bottom .desc {
    width: 100%;
    font-size: 13px;
    text-align: justify;
    line-height: 18px;
    margin-bottom: 20px;
}

.bottom button {
    float: right;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    font-family: poppins;
    cursor: pointer;
}

.bottom button span {
    font-size: 20px;
    margin-left: 5px;
    animation: slide 1.5s infinite;
}

/* portfolio */

.c-body {
    background-color: #282a35;
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.carousel {
    overflow: hidden;
    width: 100%;
}

.wrap {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    justify-items: stretch;
    animation: slide 15s linear infinite;
}

.wrap img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}

h6 {
    text-align: center;
    color: #ddd;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 25px;
}

.contain {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8b34a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


@keyframes slide {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
}

@media screen and (max-width: 900px) {
    .team-section .case .team-card {

        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width: 768px) {
    .team-section .case .team-card {

        grid-template-columns: 1fr;

    }
}


  @media screen and (max-width: 768px) {
    .heading {
        padding: 0 20px;
    }
    .heading h1 {
        font-size: 36px;
    }
    .heading p {
        font-size: 17px;
        margin-bottom: 0;
    }
    .cup {
        padding: 0;
    }
    .about {
        padding: 20px;
        flex-direction: column;
    }
    .about-image {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p {
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more {
        font-size: 16px;
    }
    .col-4 {
        width: 100%;
        margin: 0;
    }
    .box {
        display: block;
    }
    .icon {
        width: 100%;
        margin: 5px;
    }
    .row {
        flex-direction: column;
    }
}


=======
 @import url('https://fonts.googleapis.com/css2?family=lato:wght@100,300,400,700,900&display=swap'); 
 @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #f2f2f2;
    width: 100%;
}

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #ee0979;
}

.heading p {
    font-size: 18px;
    color: #777;
    margin-bottom: 35px;
}

.cup {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img {
    transform: scale(1.2);
}

.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #777;
}

.about-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ee0979;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content .read-more:hover {
    background-color: #ee0979;
}


.holder {
    width: 100%;
    margin: 0;
    padding-top: 4%;
    padding-bottom: 4%;
    background: #fff;
  }

  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  div.box {
    text-align: center;
    margin: 24px;
    padding: 36px 24px 40px 24px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),
        0 2px 3px 0 rgba(0, 0, 0, .1);
  }

  .icon {
    width: 100%;
    text-align: center;
    border-radius: 10px;
  }

  .icon img {
    width: 50px;
  }

  label {
    font-weight: bold;
    color: #f8b34a;
  }

  .nodecor {
    text-decoration: none;
    list-style-type: none;
  }

  /* team */

.team-section {
    width: 100%;
}

.team-section .case {
    width: 80%;
    margin: auto;
}

.team-section .case .ROW {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.TITLE {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #ee0979;
}

.TITLE p {
    font-size: 18px;
    font-family: sans-serif;
    margin: 30px 0px;
    color: #a3a3a3;
}

.team-section .case .team-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

.team-section .case .team-card .CARD {
    width: 100%;
    background-color:  #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
}

.team-section .case .team-card .CARD:hover {
    background-color: #f3f3f3;
    transition: 0.3s;
}

.team-section .case .team-card .CARD .img-section img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 6px solid #fff;
}

.team-section .case .team-card .CARD .CONTENT {
    width: 100%;
    text-align: center;
}

.team-section .case .team-card .CARD .CONTENT h3 {
    font-size: 27px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    color: #639ab8;
}

.team-section .case .team-card .CARD .CONTENT h4 {
    font-size: 17px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    color: #6e6e6e;
}

.team-section .case .team-card .CARD .CONTENT p {
    font-size: 15px;
    margin: 16px 0px;
    line-height: 1.5;
    color: #6c6c6c;
}

.containeer {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
  }

.pop {
    font-size: 18px;
    font-family: sans-serif;
    margin: 30px 0px;
    color: #a3a3a3;
    text-align: center;
}

/* services */

.center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}

.cad {
    width: 350px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    font-family: poppins;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
                   rgba(17, 17, 26, 0.1) 0px 24px 80px;

}   

.top {
    width: 100%;
    height: fit-content;
}

.top img {
    width: 100%;
}

.top .T {
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.bottom {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 0 25px;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.cad:hover  .bottom {
    max-height: 350px;
}

.cad:not(:hover) .top .T {
    margin-top: 25px;
    margin-bottom: 15px;
}

.bottom .desc {
    width: 100%;
    font-size: 13px;
    text-align: justify;
    line-height: 18px;
    margin-bottom: 20px;
}

.bottom button {
    float: right;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    font-family: poppins;
    cursor: pointer;
}

.bottom button span {
    font-size: 20px;
    margin-left: 5px;
    animation: slide 1.5s infinite;
}

/* portfolio */

.c-body {
    background-color: #282a35;
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.carousel {
    overflow: hidden;
    width: 100%;
}

.wrap {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    justify-items: stretch;
    animation: slide 15s linear infinite;
}

.wrap img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}

h6 {
    text-align: center;
    color: #ddd;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    padding: 25px;
}

.contain {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8b34a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


@keyframes slide {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
}

@media screen and (max-width: 900px) {
    .team-section .case .team-card {

        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-width: 768px) {
    .team-section .case .team-card {

        grid-template-columns: 1fr;

    }
}


  @media screen and (max-width: 768px) {
    .heading {
        padding: 0 20px;
    }
    .heading h1 {
        font-size: 36px;
    }
    .heading p {
        font-size: 17px;
        margin-bottom: 0;
    }
    .cup {
        padding: 0;
    }
    .about {
        padding: 20px;
        flex-direction: column;
    }
    .about-image {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p {
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more {
        font-size: 16px;
    }
    .col-4 {
        width: 100%;
        margin: 0;
    }
    .box {
        display: block;
    }
    .icon {
        width: 100%;
        margin: 5px;
    }
    .row {
        flex-direction: column;
    }
}


>>>>>>> baedb6acca67367250bbb000591ac6f1b72f14d4
